.header {
  box-sizing: border-box;

  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../images/photos/image-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: black;
  height: 100vh;
  position: relative;

  &__logo {
    object-fit: cover;
    width: 20%;
    max-width: 87px;
    position: absolute;
    top: 25px;
    left: 20px;

    @media (min-width: 1020px) {
      left: 60px;
    }
  }

  @media (min-width: 1020px) and (max-width: 1250px) {
    height: 100vh;
    padding-top: 11.5rem;
  }

  @media (min-width: 1250px) {
    height: 100vh;
    padding-top: 15rem;
  }
}

.title {
  &--primary {
    font-size: 40px;

    @media (min-width: 700px) {
      font-size: 60px;
    }

    @media (min-width: 1020px) {
      font-size: 80px;
    }
  }
}
